body{
    margin: 0px;
    font-family: sans-serif;
    font-size: 15px;
    margin-left: 40px;
    line-height: 1.5;
}

h1{
    font-size: 22px;
}

.container{
    display:grid;
    max-width: 900px;
}
/* 
.header{
    background-color: ;
} */

img{
    max-width: 100%;
}

/*
 For topical.html
 below the comment.
*/
/*
.body-topical{
    background-color: white;
}

.paragraph-intro-smartcity{
    color: #1d1111;
    font-size: 16px; 
}
*/
